//-
  Created by Yangwook Ryoo on 3/19/16.

  This source code is licensed under the MIT license found in the
  LICENSE file in the root directory of this source tree.
extends base
block title
  title GP1 | 500 Error!
block content
  .callout.warning
    .row.column
      h1 Something goes wrong :(
      p.lead 나중에 다시 시도해주세요.