doctype html
html.no-js(lang='kr')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="description", content="")
    block title
      title GP1 | Welcome
    link(rel='stylesheet', href='http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css')
  body
    .top-bar
      .top-bar-left
        ul.menu
          li.menu-text Yeti Agency
          li
            a(href='#') 소개
          li
            a(href='#') 1122
      .top-bar-right
        ul.menu
          li
            a(href='/login') login
    div
      block content
    hr
    .row.column
      ul.menu
        li
          a(href='#') One
        li
          a(href='#') Two
        li
          a(href='#') Three
        li
          a(href='#') Four
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js')
    script(src='./main.js')
